.banner {
    background-color: linear-gradient(135deg, pink, blue, purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 73%;
    margin: auto;
}

.title {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}

.description {
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.button {
    background-color: #6a668f; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    border-radius: 30px; 
    font-weight: bold;
    cursor: pointer; 
    font-size: .9rem; 
    font-family: 'Poppins', sans-serif; 
    cursor: pointer; 
    margin-top: 20px; 
    transition: 0.3s ease-in-out; 
}

.button:hover {
    background-color: #5c1bd6;
    color: white;
    cursor: pointer;
    scale: 1.05;
    transition: 0.3s ease-in-out;

}